<h1>Búsqueda de peritajes</h1>
<%= form_tag(benchmarks_search_path, method: "post") do %>
  <%= label_tag(:q, "Ingrese la placa del vehìculo:") %>
  <%= text_field_tag :plate %>
  <%= submit_tag("Buscar") %>
<% end %>
