<h1>Benchmarks</h1>
<%@all.each do |element|%>
<h1><%=element%></h1>
<%end%>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% end %>