
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

.wrapper{
  margin: 5%;
}

input::placeholder {
  color: #A0A0A0;
}

input.plate_input{
  text-transform: uppercase;
}

input[type=text]:valid {
    color: green;
}

.index_table{
  margin-bottom: 30px;
  .select_state{
    margin: 10px 0px;
    padding: 5px;
  }
  .header_table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    a.new_object_link {
      background-color: #4CAF50;
      width: 150px;
      height: 100%;
      padding: 5px;
      border: 1px solid #000;
      text-align: center;
      display: block;
      border: none;
      color: white;
      border-radius:3px;
    }
  }
}

.clase_x{
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 960px) {
    body{
      font-size: 18px;
    }
    h1{
      font-size: 2.5rem;
      align-self: center;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
      font-size: 16px;
    }
    h1{
      font-size: 2rem;
      align-self: center;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
    h1{
      font-size: 1.5rem;
      align-self: center;
    }
}

/* Unmatched */
input[type=text]:invalid {
    color: red;
}

.alert{
  position: absolute;
  width: 100%;
}

input[type="submit"]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:3px;
}

h1, h2, h3 {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

label{
  margin: 0px;
}
.group_form{
  margin: 5px 0px;
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  input{
    margin-left: 15px;
  }
  label{
    text-align: right;
  }
}

.center_form{
  h1,h2{
    text-align: center;
  }
  display: flex;
  justify-content: center;
  input[type=submit]{
    width: 100%;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tbody>tr{
    &:nth-child(even) {
      background-color: #dddddd;
    }
  }
}
