// Place all the styles related to the benchmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_benchmark{
  .img-thumbnail{
    width: 200px;
    max-width: 300px;
  }
}

.index_benchmarks{
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td, th{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tbody>tr{
      cursor: pointer;
      &:nth-child(even) {
        background-color: #dddddd;
      }
    }
  }
}
