// Place all the styles related to the car inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_car_inspection{
  .img-thumbnail{
    width: 200px;
    max-width: 300px;
  }
  .nav-link{
    color: #d6d6d6;
  }.form-group{
    margin-bottom: 20px;
  }
  .photo_button{
    border: 1px solid black;
    font-size: 16px;
    i{
      font-size: 25px;
    }
  }
  &.row{
    input[type="file"] {
      display: none;
    }
  }
  .radio_button {
    display: flex;
    align-items: center;
    height: 50px;
    
    @media all and (min-width: 600px) {
      width: 75%;
    }

    @media all and (max-width: 599px) and (min-width: 320px) {
      width: 100%;
    }
    .yellow {
      background-color:#FFCC00;
      color:#333;
      input:checked + span {
          background-color:#404040;
          color:#F7F7F7;
      }
    }
    .red{
      background-color:#D33B49;
      color:#333;
      input:checked + span {
          background-color:#404040;
          color:#F7F7F7;
      }
    }
    .green{
      background-color:#A3D900;
      color:#333;
      input:checked + span {
          background-color:#404040;
          color:#F7F7F7;
      }
    }
    label {
      padding-right: 0px;
      width:100%;
      height: 100%;
      background-color:#EFEFEF;
      border-radius:4px;
      border:1px solid #D0D0D0;
      overflow:auto;
      display: flex;
      align-items: center;
      span {
        text-align:center;
        width: inherit;
      }
      input {
        // display: none;
      }
    }
  }
}

.index_car_inspections{
  table {
    border-radius: 10px;
    tbody>tr{
      cursor: pointer;
    }
  }
}

.search_inspection{
  .plate_input{
    text-align: center;
    padding: 5px 0px;
    width: 100%;
    margin: 5px 0px;
  }
}
