<%if @all.empty?%>
  <article class="center_form">
    <div>
      <h2>No hay peritajes con las características consultadas</h2>
    </div>
  </article>
<%else%>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Dueño</th>
        <th>Placa</th>
      </tr>
    </thead>
    <tbody>
      <%@all.each do |element|%>
        <tr onclick="location.href='<%= params['inspection_state'].eql?('completed') ? show_car_inspection_path(element) : edit_car_inspection_path(element)%>'">
          <td><%=element.created_at.localtime.strftime("%F %T")%></td>
          <td><%=element.owner%></td>
          <td><%=element.car.plate%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
<%end%>
