<h1>Peritajes</h1>
<article class="index_car_inspections tab-content">
  <%= select_tag :inspection_state, options_for_select(@inspection_states, selected:"open") %>
  <div class="tab-pane active">
    <%= render "car_inspections_table" %>
  </div>
</article>

<%if current_user.type.eql?("CarExpert")%>
  <%= link_to('Nuevo peritaje', validation_car_inspection_path, method: :get) %>
<%end%>

<script type="text/javascript">
  $("#inspection_state").change(function(event) {
    $.ajax ({
      url: "#",
      type: 'GET',
      dataType: 'script',
      data: {
        inspection_state: event.target.value,
      },
      success: function(data, textStatus, jqXHR) {
      }
    });
  });
</script>
