<div class="index_table">
  <div class="header_table">
    <h1>Peritajes</h1>
    <%if current_user.type.eql?("CarExpert")%>
      <%= link_to('Nuevo peritaje', validation_car_inspection_path, method: :get, class:"new_object_link") %>
    <%end%>
  </div>
  <article class="index_car_inspections tab-content">
    Estato del peritaje:
    <%= select_tag :inspection_state, options_for_select(@inspection_states, selected:"open"), class:"select_state" %>
    <div class="tab-pane active">
      <%= render "car_inspections_table" %>
    </div>
  </article>
</div>

<script type="text/javascript">
  $("#inspection_state").change(function(event) {
    $.ajax ({
      url: "#",
      type: 'GET',
      dataType: 'script',
      data: {
        inspection_state: event.target.value,
      },
      success: function(data, textStatus, jqXHR) {
      }
    });
  });
</script>
